:root {
  --background-color: #6f9699;
  --branding-color: #8aabb5;
  --heading-font-family: "Playfair Display", serif;
  --website-font-family: "Merriweather", sans-serif;
}

body {
  background-color: #dfeced;
  font-family: var(--website-font-family);
  font-weight: 500;
  font-style: normal;
  margin: 8px;
}

.nav-link:hover {
  color: var(--branding-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-style: normal;
  font-size: 90px;
  margin-bottom: 25px;
}

h3 {
  font-size: 32px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/142/272/original/IMG-20231206-WA0043%28copy%29.jpg?1725552222);
  background-repeat: no-repeat;
  padding: 80px;
}

.intro {
  padding-top: 100px;
  text-align: center;
  color: #fff;
}

.homepage-buttons {
  justify-content: space-evenly;
  margin-top: 60px;
}

.homepage-project-button,
.homepage-contact-button {
  background-color: var(--branding-color);
  color: #000;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 18px;
}

.homepage-contact-button:hover,
.homepage-project-button:hover {
  transform: scale(1.1);
  text-decoration: none;
}

button:hover {
  transform: scale(1.1);
}

.about-section {
  background: #fff;
  padding: 70px 30px;
}

.about-grid {
  text-align: center;
  padding: 30px;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.about-button {
  background-color: var(--branding-color);
  color: #fff;
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

.about-button:hover {
  border: 2px solid var(--branding-color);
}

a {
  color: #908a8a;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card-section {
  background-color: #c9dde4;
}

.my-projects-intro {
  border-left: 7px solid #6f9699;
  text-align: center;
  padding: 30px 0;
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
}

.card {
  max-width: 90%;
  margin: 0 auto;
}

.card-title {
  font-weight: bold;
  font-family: var(--website-font-family);
  text-align: center;
  font-size: 20px;
  padding: 8px;
  text-transform: uppercase;
}

.card-text {
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

.card-button {
  background: var(--branding-color);
  color: #fff;
  margin: 0 auto;
  display: block;
  max-width: 70%;
}

.card-button:hover {
  border: 1px solid var(--branding-color);
  color: #000;
  text-decoration: none;
}

.social-media-footer {
  padding: 30px 0 20px 0;
  background-color: var(--background-color);
}

.fa-brands,
.fa-solid {
  color: #000;
  border: 2px solid #000;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
}

.fa-brands:hover,
.fa-solid:hover {
  color: var(--background-color);
  background-color: #000;
}

.resume {
  font-size: 15px;
}

h5 {
  font-size: 15px;
}

@media (min-width: 400px) {
  h1 {
    font-size: 65px;
  }
  h3 {
    font-size: 24px;
  }
  strong,
  p {
    font-size: 18px;
  }
  .ai-generator-project-image,
  .weather-project-image,
  .world-clock-project-image {
    width: 300;
  }
}

.ai-generator-project,
.weather-project,
.world-clock-project {
  justify-content: space-between;
  display: block;
}

.project-title {
  text-align: center;
  font-weight: 900;
  font-size: 20px;
}

.project-description {
  padding-top: 30px;
}

.project-image {
  margin: 20px 0 10px 10px;
  max-width: fit-content;
}

.project-image:hover {
  transform: scale(1.1);
}

.project-page-title,
.contact-page {
  margin: 70px 0;
  text-align: center;
}

.email,
.github,
.linkedin {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.github,
.linkedin {
  text-align: center;
  margin-bottom: 80px;
}

.email-icon,
.github-icon,
.linkedin-icon {
  font-size: 40px;
}

.email-contact {
  text-align: center;
  font-size: 18px;
  margin-bottom: 80px;
}

.work-enquiries {
  font-size: 34px;
  font-family: var(--heading-font-family);
}

.enquiries-holder {
  background-color: #f1f5f2;
  padding: 30px;
  border-radius: 7px;
  max-width: 90%;
}

.contact-button {
  background-color: var(--branding-color);
  border: none;
  padding: 10px;
}

.contact-button:hover {
  transform: scale(1.1);
  background-color: #8aabb5;
  text-decoration: none;
}

.sign-off {
  font-size: 12px;
  text-align: center;
}

.sign-off a {
  color: #fff;
}

.contact-page-sign-off {
  color: #6f9699;
}
